.exam-table {
    margin: 20px auto;
    width: 80%;
    border-collapse: collapse;
  }
  
  .exam-table th,
  .exam-table td {
    padding: 10px;
    text-align: left;
  }
  
  .exam-table th {
    background-color: #f2f2f2;
  }
  
  .exam-table td.exam-actions {
    text-align: center;
  }
  
  .edit-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 16px;
    margin-right: 5px;
    cursor: pointer;
  }
  
  .delete-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .new-exam-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .new-exam-form label {
    margin-bottom: 10px;
  }
  
  .new-exam-form input {
    padding: 10px;
    margin-left: 5px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .submit-button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  